@model Fine_Art.Models.Exhibition

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exhibition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Painting_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Painting_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event.Event_Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event.Event_Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Painting_Pic }) |
    @Html.ActionLink("Back to List", "Index")
</p>
