@model Fine_Art.Models.Award

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Award</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Award_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Award_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competition.C_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.C_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.S_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
